@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.home{
    display: flex;
    /* background-image: url("../img/aman.jpg"); */
    background-color: rgb(0, 0, 0);
    height: 100vh;
    color: wheat;
    /* min-height: 500px; */
    font-family: 'Ubuntu' sans-serif;

}
.max-width1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    
}
.profile-image{
    /* border: 1px solid red; */
    display: block;
    margin-right: 10%;
}
.profile-image>img{
    width: 250px;
    height: 250px;
    border: 4px solid crimson;
    border-radius: 100%;
}
.home .max-width1{
    margin: auto 0 auto 0;
}
.home-contents{
    margin-left: 10%;
}
.home .home-contents .text-1{
    font-size: 30px;

}
.home .home-contents .text-2{
    font-size: 30px;
    font-weight: 600;
    margin-left: -3px;
    
}
.home .home-contents .text-3{
    font-size: 40px;
    margin: 5px 0;
    
}
.home .home-contents .text-3 span{
    color: crimson;
    font-weight: 600;
}
.home-contents a{
    display: inline-block;
    background: crimson;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}
.home-contents a:hover{
    background: black;
    color: crimson;
    border: 1px solid #fff;
    border-radius: 10px;
}



/*about*/

#about{
    font-family: 'Poppins',sans-serif;
    padding: 50px 0;
    /* border: 1px solid red; */
    width: 100%;
    /* background-color: black; */
    margin: auto;
}
.about .title{
    font-family: 'Ubuntu',sans-serif;
    text-align: center;
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    transform:  translate(-50%);
    background: #111;
}
.about .title::after{
    content: "Who I Am";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;

    transform:  translate(-50%);
}
.text.about{
    font-weight: bold;
}
.about .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.about-content .column.right{
    width: 55%;
    object-fit: contain;
    /* color: red; */
}
.column.left>img{
    height: 300px;
    width: 340px;
    border: 4px solid crimson;
    border-radius: 52%;
}
.about-content .column.right span{
    color: crimson;
    font-weight: bold;
}
#pdf{
    display: inline-block;
    background: crimson;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border-radius: 5px;
}
.about-content .column.right a:hover{
    background: #fff;
    color: crimson;
    border: 1px solid #111;
    border-radius: 5px;
}

/* project */
#projects{
    font-family: 'Poppins',sans-serif;
    padding: 10px 0;
    /* border: 1px solid rgb(11, 169, 32); */
    width: 100%;
    /* background-color: black; */
    margin: auto;
}
.projects .title{
    font-family: 'Ubuntu',sans-serif;
    text-align: center;
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.projects .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    transform:  translate(-50%);
    background: #111;
}
.projects .title::after{
    content: "working area";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 15px;
    color: crimson;
    padding: 5px;
    background: #fff;

    transform:  translate(-50%);
}

.project-containar{
    /* border: 1px solid rgb(170, 0, 255); */
    height: auto;
    width: 90%;
    margin:1px auto;
}
.project-box{
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto; */
    gap: 10px;
    display: flex;
    width: auto;
    height:auto;
    /* border: 2px solid crimson; */
    justify-content: space-evenly;
    margin:10px 10px;
    border-radius: 10px; 
}

.pr-box{
    width: 40%;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid crimson;
    border-radius: 5px;
}

.primg{
    border: 2px solid rgb(159, 230, 28);
    width:405px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
}
.techstack{
    color: crimson;
    font-weight: bold;
}

.deplbox{
    
    display: flex;
    justify-content: center;
    justify-content: space-around;

}

/* contacts */

#contact{
    font-family: 'Poppins',sans-serif;
    padding: 50px 0;
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    /* background-color: black; */
}
.contact .title{
    font-family: 'Ubuntu',sans-serif;
    text-align: center;
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    transform:  translate(-50%);
    background: #111;
}
.contact .title::after{
    content: "me";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform:  translate(-50%);
}
.text.contact{
    font-weight: bold;
}
.contact-content{
    /* border: 1px solid red; */
    /* height: 90vh; */
    margin: auto;
}
.left-contcats{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
}
.left-contcats>div{
    /* border: 1px solid red; */
    width:fit-content;
    margin: auto;
}
.right-contcats{
    /* border:1px solid red; */
    width: auto;
    margin: auto;
}

input{
    width: 30;
}
.drop-massage,.submit{
    /* border: 1px solid red; */
    text-align: center;
}
.right-contcats>div{
    /* border: 3px solid crimson; */
    padding: 0px;
    width: fit-content;
    margin: auto;
    border-radius: 5px ;
}

.fa{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* border: 1px solid red; */
    gap: 10px;
}




/* skill */

#skill{
    font-family: 'Poppins',sans-serif;
    padding: 50px 0;
    /* border: 1px solid red; */
    width: 100%;
    /* background-color: black; */
    margin: auto;
}
.skill .title{
    font-family: 'Ubuntu',sans-serif;
    text-align: center;
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.skill .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    transform:  translate(-50%);
    background: #111;
}
.skill .title::after{
    content: "my skill";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform:  translate(-50%);
}
.text.skill{
    font-weight: bold;
}

.skill-content{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
}
.skill-content>div{
    /* border:  1px solid red; */
    width: 70%;
    margin: auto
    ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin: auto;

    justify-content: space-evenly;
    align-items: center; 
}

.skill-content>div>img{
    text-align: center;
    border: 2px solid crimson;
    border-radius: 10px;
    width: 120px;
    height: 120px;
}






/*media*/
@media (max-width:840px) {
    .profile-image>img{
        width: 200px;
        height: 200px;
        border: 4px solid crimson;
        border-radius: 100%;
    }
    .home .max-width1{
        margin: auto 0 auto 0;
    }
    .home-contents{
        margin-left: 10%;
    }
    .home .home-contents .text-1{
        /* border: 1px solid red; */
        font-size: 20px;
    }
    .home .home-contents .text-2{
        /* border: 1px solid red; */
        font-size: 20px;
        font-weight: 600;
        margin-left: -3px;
        
    }
    .home .home-contents .text-3{
        /* border: 1px solid red; */
        font-size: 30px;
        margin: 5px 0;
    }
    .home .home-contents .text-3 span{
        color: crimson;
        font-weight:200;
    }
    .home-contents a{
        display: inline-block;
        background: crimson;
        color: #fff;
        padding: 10px 20px 10px 20px;
        font-size: 15px;
        border-radius: 5px;
    }
    .home-contents a:hover{
        background: black;
        color: crimson;
        border: 1px solid #fff;
        border-radius: 5px;
    }
    
   /* about  */

.about .about-content{
    display: block;
    align-items: center;
    /* justify-content: space-between; */
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
}
.about-content .column.right{
    width: 75%;
    object-fit: contain;
    /* border: 1px solid green; */
    margin: auto;
    /* color: red; */
}
.column.right >a{
    /* border: 1px solid yellow; */
    margin: 4px 3% 4px 30%;
}
.column.left>img{
    display: none;
    height: 300px;
    width: 340px;
    /* border: 4px solid crimson; */
    border-radius: 52%;
}
.about-content .column.right span{
    color: crimson;
    font-weight: bold;
}


/* project */
.project-box{
    gap: 10px;
    display: block;
    width: 100%;
    height:auto;
    margin: auto;
    /* border: 2px solid crimson; */
    border-radius: 10px; 
}

.pr-box{
    width: 90%;
    margin-right: 10px;
    padding: 10px;
    
    border-radius: 5px;
}
.projectImage>img{
    width:99%;
}
.primg{
    border: 2px solid rgb(110, 164, 9);
    width: fi;
    height: ;
    text-align: center;
    border-radius: 10px;
}


}

@media (max-width:640px) {
    .profile-image>img{
        width: 180px;
        height: 180px;
        border: 3px solid crimson;
        border-radius: 100%;
    }
    .home .home-contents .text-1{
        /* border: 1px solid red; */
        font-size: 20px;
    }
    .home .home-contents .text-2{
        /* border: 1px solid red; */
        font-size: 20px;
        font-weight: 500;
        margin: 5px 0;
        
    }
    .home .home-contents .text-3{
        /* border: 1px solid red; */
        font-size: 30px;
        margin: 5px 0;
    }
    .home .home-contents .text-3 span{
        color: crimson;
        font-weight:300;
    }
    .home-contents a{
        display: inline-block;
        background: crimson;
        color: #fff;
        padding: 10px 20px 10px 20px;
        font-size: 15px;
        border-radius: 5px;
    }
    .home-contents a:hover{
        background: black;
        color: crimson;
        border: 1px solid #fff;
        border-radius: 5px;
    }

    /* project  */
.project-box{
    gap: 10px;
    display: block;
    width: 100%;
    height:auto;
    margin: auto;
    border-radius: 10px; 
}

.projectImage>img{
    width:99%;
}
.primg{
    border: 2px solid rgb(110, 164, 9);
    width: fit-content;
    height: auto;
    text-align: center;
    border-radius: 10px;
}
/* contcT  */

.left-contcats{
    width: 90%;
    margin: auto;
}
.left-contcats>div{
    /* display: flex; */
    /* gap: 20px; */
    /* border: 1px solid red; */
    width:fit-content;
    margin: auto;
}
.right-contcats{
    /* border:1px solid red; */
    width: auto;
    margin: auto;
}

input{
    width: 30;
}
.drop-massage,.submit{
    border: 1px solid red;
    text-align: center;
}
.right-contact-from{
    border: 3px solid crimson;
    padding: 0px;
    /* width: fi; */
    margin: auto;
    border-radius: 5px ;
}

.fa{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* border: 1px solid red; */
    gap: 10px;
}



}



@media (max-width:550px) {
    .home{
        display: flex;
        /* background-image: url("../img/aman.jpg"); */
        background-color: rgb(0, 0, 0);
        height: 90vh;
        color: wheat;
        min-height: 500px;
        font-family: 'Ubuntu' sans-serif;
        margin:auto;

    }
    .max-width1{
        width: 100%;
        height: 50vh;
        display: block;
        justify-content: center;
        text-align: center;
        align-items: center;
        
        margin-top: 110px 0px 0px 0px;
        /* justify-content: space-between; */
        /* border: 1px solid greenyellow; */
        

    }
    .profile-image{
        /* border: 1px solid red; */
        /* display: block; */
        /* display: inline; */
        margin:10% 0 0 0;
    }
    .profile-image>img{
        width: 150px;
        height: 150px;
        border: 3px solid crimson;
        border-radius: 100%; 
    }
    .home .max-width1{
        margin: auto 0 auto 0;
    }
    .home-contents{
        /* border: 1px solid red; */
        margin-left: 10%;
        margin-right: 10%;
    }
    .home .home-contents .text-1{
        font-size: 20px;
    }
    .home .home-contents .text-2{
        font-size: 30px;
        font-weight: 600;
        
    }
    .home .home-contents .text-3{
        font-size: 30px;
        /* margin: 5px 0; */
    }
    .home .home-contents .text-3 span{
        color: crimson;
        font-weight: 300;
    }
    .home-contents a{
        display: inline-block;
        background: crimson;
        color: #fff;
        padding: 10px 20px 10px 20px;
        font-size: 20px;
        border-radius: 10px;
    }
    .home-contents a:hover{
        background: black;
        color: crimson;
        border: 1px solid #fff;
        border-radius: 10px;
    }
    
    
    /* .about */
    .about .about-content{
        display: block;
        align-items: center;
        /* justify-content: space-between; */
        /* border: 1px solid red; */
        width: 90%;
        margin: auto;
    }
    .about-content .column.right{
        width: 75%;
        object-fit: contain;
        /* border: 1px solid green; */
        margin: auto;
        /* color: red; */
    }
    .column.right >a{
        /* border: 1px solid yellow; */
        margin: 4px 3% 4px 30%;
    }
    .column.left>img{
        display: none;
        height: 300px;
        width: 340px;
        border: 4px solid crimson;
        border-radius: 52%;
    }
    .about-content .column.right span{
        color: crimson;
        font-weight: bold;
    }
    

    /* project  */
    .project-box{
        gap: 10px;
        display: block;
        width: 100%;
        height:auto;
        margin: auto;
        border-radius: 10px; 
    }
    
    .projectImage>img{
        width:99%;
    }
    .primg{
        border: 2px solid rgb(110, 164, 9);
        width: fit-content;
        height: auto;
        text-align: center;
        border-radius: 10px;
    }
    
    
}



@media (max-width:550px) {
    
    #skill{
        font-family: 'Poppins',sans-serif;
        padding: 50px 0;
        /* border: 1px solid red; */
        width: 100%;
        /* background-color: black; */
        margin: auto;
    }
    .skill .title{
        font-family: 'Ubuntu',sans-serif;
        text-align: center;
        position: relative;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;
    }
    .skill .title::before{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 180px;
        height: 3px;
        transform:  translate(-50%);
        background: #111;
    }
    .skill .title::after{
        content: "my skill";
        position: absolute;
        bottom: -10px;
        left: 50%;
        font-size: 20px;
        color: crimson;
        padding: 5px;
        background: #fff;
        transform:  translate(-50%);
    }
    .text.skill{
        font-weight: bold;
    }
    
    .skill-content{
        /* border: 1px solid red; */
        width: 90%;
        margin: auto;
    }
    .skill-content>div{
        /* border:  1px solid red; */
        width: 70%;
        margin: auto
        ;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap: 10px;
        margin: auto;
    
        justify-content: space-evenly;
        align-items: center; 
    }
    
    .skill-content>div>img{
        text-align: center;
        border: 2px solid crimson;
        border-radius: 10px;
        width: 120px;
        height: 120px;
    }
}